﻿@model WebApplication_3.Models.Cookies
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>This is My First Index</h3>

@Html.HiddenFor(m => m.studentId)
@using (Html.BeginForm())
{
    <div>
        <label>Student_Id:</label>@Html.TextBoxFor(m => m.studentId);
        <label>Name:</label>@Html.TextBoxFor(m => m.name);
        <input type="submit" value="Sign up" />
    </div>

}

