﻿
@{
    ViewBag.Title = "DefaultIndex";
    string str1= ViewBag.Name;
    int age = (int)ViewBag.Age;
}

    <div>
        <h1>This is My Second Layout View</h1>
    </div>
    <p>This is ViewBag Example: @str1</p>
    <p>Ths is Another ViewBag Example : @age</p>

@Html.Partial("_PartialPage1");