﻿
@{
    ViewBag.Title = "Index";
    string str = (string)ViewData["FirstName"];
    string str1 = (string)ViewData["LastName"];
}

<h2>This is My Index Page</h2>
<p>This is View Data Value:@str</p>
<p>This is View Data Value:@str1</p>

