﻿@model MVCDemoApp.Models.Employee

@{
    ViewData["Title"] ="Details" ;
}
<h2>Details</h2>
<div>
    <h4>Employees</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
@Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
@Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
@Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
@Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
@Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
@Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
@Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
@Html.DisplayFor(model =>model.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
