﻿@model IEnumerable<MVCDemoApp.Models.Employee>  

@{  
    ViewData["Title"] = "Index";
 }  
    <h2>Index</h2>  
<p></p>  
<a asp-action="Create">Create New</a>  
</p>  
<table class="table"> 
    <thead>  
        <tr>  
            <th> 
                @Html.DisplayNameFor(model => model.Name)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.Gender)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.Department)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.City)  
            </th>  
            <th></th>  
        </tr>  
    </thead>  
    <tbody> 
        @foreach (var item in Model)  
        {  
            <tr>  
                <td>  
                    @Html.DisplayFor(modelItem => item.Name)  
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)  
                </td>  
                <td>  
                    @Html.DisplayFor(modelItem => item.Department)  
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.City)  
               </td>  
                <td>  
                    <a asp-action="Edit"asp-route-id="@item.ID">Edit</a>   
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>  
                </td>  
            </tr>  
        }  
    </tbody>  
</table>